@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$blue-brand: #586BA4;
$orange-brand: #E07A5F;
$white-brand: #FFFFFF;
$black-lighter-brand: #211A1D;
$black-brand: #080705;
$beige-light-brand: #D0D1CD;
$beige-lighter-brand: #EFF0EB;
$baby-powder-brand: #FFFFFA;
$gaingsboro-brand: #E0E2DB;

// Update Bulma's global variables
$family-sans-serif: 'Nunito', sans-serif;
$grey-dark: $black-lighter-brand;
$grey-light: $beige-light-brand;
$primary: $orange-brand;
$link: $blue-brand;
//$widescreen-enabled: false;
$fullhd-enabled: false;
$footer-padding: 2.5rem 1.5rem 3rem;

// Update some of Bulma's component variables
$body-background-color: lighten($gaingsboro-brand, 5%);
// $control-border-width: 2px;
// $input-border-color: transparent;
$input-shadow: none;
$section-padding: 1.5rem 1.5rem; // default: 3rem 1.5rem

@import '~bulma/sass/utilities/initial-variables.sass';
$navbar-breakpoint: $tablet;
$navbar-height: 3.7rem;

//Adding custom colors
@import '~bulma/sass/utilities/functions.sass';
$orange: #ff8606;
$orange-invert: findColorInvert($orange);
$purple: lighten(#804d7e, 11%);
$purple-invert: findColorInvert($purple);
$custom-colors: ('orange': ($orange, $orange-invert), 'purple': ($purple, $purple-invert));


@import '~bulma/bulma';
